$primary-color: #3FAFD7;
$primary-color-dark: #3086A6;
$secondary-color: #FF9706;
$secondary-color-dark: #CC7804;

$gray: #CAD2DE;
$gray-dark: #A6A6A6;

$header-color: #172D56;
$body-color: #536171;
$alert-color: #F35B5B;