@import "variables";

.auth-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #5ED6EB 0%, rgba(34, 140, 197, 0.8) 50.52%, #228CC5 100%);
  
  p, a {
    color: #fff;
    text-align: center;
  }
}

.auth-helper {
  color: $body-color;
  text-align: left;
  font-size: .8rem;
  padding-bottom: .25rem;
}

.auth-site-name {
  font-size: 1.563rem;
  padding-top: 3%;
}

.auth-form {
  background-color: #fff;
  max-width: 380px;
  padding: 2rem;
  margin: 2rem auto;

  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  /* Forgot password link */
  p {
    color: initial;
    text-align: left;
  }
}