@import "variables";

body { 
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  color: $body-color;
}

a {
  color: $primary-color;
  &:hover {
    color: $primary-color-dark;
  }
}

.link-inverse {
  color: #fff;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $header-color;
}

/* constrained-width container */
.cw-container {
  max-width: 85vw;
  margin: 0 auto;
}

.alert {
  color: $alert-color;
}

.page-title {
  padding: 2rem;
  text-align: center;
}

.sub-title {
  text-align: center;
  margin-bottom: .5rem;
}

.emphasis {
  color: $header-color;
  font-weight: 400;
}

.center-form {
  max-width: 400px;
  margin: 0 auto;
}

.heading-3 {
  font-size: 1.25rem;
  color: $gray-dark;
  font-weight: 300;
  margin: .5rem 0;
}

.scroll {
  overflow-y: scroll;
  max-height: 50vh;
  padding-bottom: 1rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $gray;
}

.scroll-sm {
  max-height: 300px;
  @extend .scroll;
}


.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-two-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-two-split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.fa.icon-m {
 font-size: 1.25rem;
}

#trash-icon, #moon-icon {
  color: $gray-dark
}

.search-bar {
  input {
    width: 60%;
    margin-bottom: 1rem;
  }

  input[type="submit"] {
    width: 20%;
  }
}