@import "variables";

table  {
  width: 100%;
  border-collapse: collapse; 

  #moon-icon {
    padding-left: .25rem;
  }
}

tr {
  border-bottom: thin solid $gray; 
}

thead tr {
  border-bottom: none;
}

tbody tr:last-of-type {
  border-bottom: none;
}

th {
  text-align: left;
  vertical-align: top;

  span {
    font-size: .8rem;
    font-weight: 300;
  }
}

td {
  padding: .75rem .25rem;
}

.scroll thead th {
  position: sticky;
  top: 0;
  background: #fff;
}

.table-helper {
  padding: 1.5rem 0;
}